**Topic: Print**
1. Print "Hello World!"
2. Write a program that print Data Type
3. Create a program that print String Legth.
4. Write a program that show List values.
5. Write a program that print Dictionary.

In [ ]:
#1. Print "Hello World!".
print('Hello World!')

Hello World!

In [ ]:
#2. Write a program that print Data Type.
x = 12
y = 10.023
z = 'hello'

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#3. Create a code that print String Legth.
name = "Ikram"
age = 24
test = "My name is " + name + " and I am " + str(age) + " years old."
print(test)
print(len(test))

My name is Ikram and I am 24 years old.
39

In [ ]:
#4. Write a code that show List values.
a = [10, 20,30,'hello', 50]
print(a)

[10, 20, 30, 'hello', 50]

In [ ]:
#5. Write a code that print Dictionary.
my_dictionary = {'name': 'Ikram', 'age': 24, 'city': 'Dhaka'}
print(my_dictionary)

{'name': 'Ikram', 'age': 24, 'city': 'Dhaka'}

**Topic: Variable**
1.  Create variable and assign them with value and show output.
2.  Show type casting example.
3.  Get the type of variable from values and print them.
4.  Write a program that swaps the values of two variables without using a temporary variable.
5.  Take two strings as input and concatenate them using a variable. Print the result.

In [ ]:
#1. Create variable and assign them with value and show output.
x = 24
m = 'ikram'

print(x)
print(m)

24
ikram

In [ ]:
#2. Show type casting example.
a = int(1007)
b = float(1007)
c = str(1007)

print(a)
print(b)
print(c)

1007
1007.0
1007

In [ ]:
#3. Get the type of variable from values and print them.
a = 9
b = 4.023
c = 'hi'

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#4. Write a program that swaps the values of two variables without using a temporary variable
a = 5
b = 10

print("Before swapping:")
print("a =", a)
print("b =", b)

a, b = b, a

print("After swapping:")
print("a =", a)
print("b =", b)

Before swapping:
a = 5
b = 10
After swapping:
a = 10
b = 5

In [ ]:
#5. Take two strings as input and concatenate them using a variable. Print the result.
x = input("Enter the first string: ")
y = input("Enter the second string: ")
conc_str = x + y
print("Concatenated String:", conc_str)

Enter the first string: md. abdullah
Enter the second string: al ikram
Concatenated String: md. abdullahal ikram

**Topic: Operations**
1. Write a program that performs addition, subtraction, multiplication, and division. Print the results.
2. Create a program that initializes a variable with a value and then uses compound assignment operators.
3. Write a program that prints whether it is even or odd.
4. Write a program that calculates the square of a number.
5. Write a program that checks if the first number is greater than, less than, or equal to the second number.

In [ ]:
#1. Write a program that performs addition, subtraction, multiplication, and division.
a = 10
b = 5
print('Additional Operation: ', a+b)
print('Substruction Operation: ', a-b)
print('Multiplication Operation: ', a*b)
print('Divison Operation: ', a/b)

Additional Operation:  15
Substruction Operation:  5
Multiplication Operation:  50
Divison Operation:  2.0

In [ ]:
#2. Create a program that initializes a variable with a value and then uses compound assignment operators.
num = 10
num += 2
print('After increamenting by 2: ', num)
num-= 3
print('After decreamenting by 3: ', num)
num *= 4
print('After multiplying by 4: ', num)
num /= 5
print('After diving by 5: ', num)

After increamenting by 2:  12
After decreamenting by 3:  9
After multiplying by 4:  36
After diving by 5:  7.2

In [ ]:
#3. Write a program that prints whether it is even or odd.
num = 11
if num % 2 == 0:
  print("This is an Even number: ", num)
else:
  print('This is an Odd number: ', num)

This is an Odd number:  11

In [ ]:
#4. Write a program that calculates the square of a number.
num = 10
square_num = num ** 2
print(f'The square of {num} is: ', square_num)

The square of 10 is:  100

In [ ]:
#5. Write a program that checks if the first number is greater than, less than, or equal to the second number.
num1 = 5
num2 = 5
if num1 > num2:
  print(f'{num1} is the greater than {num2}')
elif num1 < num2:
  print(f'{num2} is the greater than {num1}')
else:
  print(f'{num1} is equal to {num2}')

5 is equal to 5

**Topic: String**
1. Write a program that concatenates two strings.
2. Write a program that print String Legth.
3. Write a program that strip string.
4. Write a program to compare two string.
5. Write a program that replace string.

In [ ]:
#1. Write a program that concatenates two string.
str1 = 'University of'
str2 = 'Asia Pacific'
tstr = str1 + " " + str2
print(tstr)

University of Asia Pacific

In [ ]:
#2. Write a program that print String Legth.
str1 = 'Print'
str2 = 'String Legth'
tstr = str1 + ' ' + str2
print(len(tstr))

18

In [ ]:
#3. Write a program that strip string.
text = '       Hello, world!  '
after_strip = text.strip()
print(after_strip)

Hello, world!

In [ ]:
#4. Write a program to compare two string.
x = 'apple'
y = 'aple'
if x == y:
  print('The two string are equal')
else:
  print('The two string are not equal')

The two string are not equal

In [ ]:
#5. Write a program that replace string.
text = 'This is an example sentence. It contains an example word.'
new_text = text.replace('example', 'changed')
print(new_text)

This is an changed sentence. It contains an changed word.

**Topic: Control-Flow**
1. Write a program that checks if a number is positive or negative.
2. Write a program that checks if a number is positive than find out if that number is ood or even.
3. Write a program that prints different messages based on the temperature range.
4. Print a message indicating whether the number was found or no
5. Use the break statement to exit the inner loop if number is greater than 10

In [ ]:
#1. Write a program that checks if a number is positive, negative or zer0.
x = -1
if x > 0:
  print('This is a Positive number')
elif x < 0:
  print('This is a Negative number')
else:
  print('This number is Zero')

This is a Negative number

In [ ]:
#2. Write a program that checks if a number is positive than find out if that number is ood or even.
num = 23
if num > 0:
  print('This is a Positive number')
  if num % 2 == 0:
    print("This is an Even number: ", num)
  else:
    print('This is an Odd number: ', num)
elif num < 0:
  print('This is a Negative number')
else:
  print('This number is Zero')

This is a Positive number
This is an Odd number:  23

In [ ]:
#3. Write a program that prints different messages based on the temperature range.
temp = 14

if temp < 0:
    print("It's freezing cold! Bundle up.")
elif 0 <= temp <= 10:
    print("It's very cold. Wear a heavy jacket.")
elif 10 < temp <= 20:
    print("It's chilly. A light jacket might be enough.")
elif 20 < temp <= 30:
    print("It's a comfortable temperature.")
elif 30 < temp <= 40:
    print("It's warm. Short sleeves would be comfortable.")
else:
    print("It's hot! Stay cool and hydrated.")

It's chilly. A light jacket might be enough.

In [ ]:
#4. Print a message indicating whether the number was found or no.
list = ["Ikram", "Mission", "Adhora", "Alvi", "Tomal"]
name = "Alvi"

# Check if the name is present in the list
if name in list:
    print(f"{name} was found in the list.")
else:
    print(f"{name} was not found in the list.")

Alvi was found in the list.

In [ ]:
#5. Use the break statement to exit the inner loop if number is greater than 10.
nums = [3, 8, 12, 5, 17, 9, 14, 6]
for num in nums:
    if num > 10:
        break  # Exit the loop if the number is greater than 10
    print(num)

3
8

**Topic: User Input**
1. Write a program that takes user input.
2. Write a program that takes user input using raw_input.
3. Write a program that uses takes as desired input.
4. Write a program that takes input and show inputs type.
5. Write a program that takes string and show the lenght of that string.

In [ ]:
#1. Write a program that takes user input.
x = input('Énter Value: ')
print(x)

Énter Value: Ikram
Ikram

In [ ]:
#2. Write a program that takes two string from user input and concate them.
str1 = input('Énter first string: ')
str2 = input('Énter second string: ')
print(str1 + " " + str2)

Énter first string: Alvi
Énter second string: Khan
Alvi Khan

In [ ]:
#3. Write a program that uses takes as desired input.
num = int(input("Enter a number: "))
print(num, " ", type(num))

floatNum = float(input("Enter a decimal number: "))
print(floatNum, " ", type(floatNum))

Enter a number: 5
5   <class 'int'>
Enter a decimal number: 6.235
6.235   <class 'float'>

In [ ]:
#4. Write a program that takes input and show inputs type.
x = int(input('Enter value: '))
y = float(input('Enter value: '))
z = input('Enter value: ')

print(type(x))
print(type(y))
print(type(z))

Enter value: 5
Enter value: 123.121
Enter value: Ikram
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#5. Write a program that takes string and show the lenght of that string.
str = input('Ente a string: ')
print('String Length: ', len(str))

Ente a string: My name is Ikram
String Length:  16

**Topic: Loop**
1. Write a program that print 'Hello, python' 5 times.
2. Write a program that skip negative number using countinue function.
3. Write a program that uses a while loop to find the factorial of a given number.
4. Write a program that prints the first 10 numbers of the Fibonacci sequence using a loop.
5. Write a program that loop with a Positive Step 0 to 10 with a step of 2.

In [ ]:
#1. Write a program that print 'Hello, python' 5 times.
# Program to print 'Hello, Python' 5 times
for _ in range(5):
    print('Hello, Python')

Hello, Python
Hello, Python
Hello, Python
Hello, Python
Hello, Python

In [ ]:
#2. Write a program that skip negative number using countinue function.
numbers = [5, -2, 8, -3, 0, 7, -1]
for num in numbers:
    if num < 0:
        continue
    print(num)

5
8
0
7

In [ ]:
#3. Write a program that uses a while loop to find the factorial of a given number.
num = 5
result = 1
current_number = 1
while current_number <= num:
    result *= current_number
    current_number += 1
print(f"The factorial of {num} is {result}.")

The factorial of 5 is 120.

In [ ]:
#4. Write a program that prints the first 10 numbers of the Fibonacci sequence using a loop.
fibonacci_sequence = [0, 1]
for _ in range(8):
    next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_number)

print("First 10 numbers of the Fibonacci sequence: ", fibonacci_sequence)

First 10 numbers of the Fibonacci sequence:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#5. Looping with a Positive Step 0 to 10 with a step of 3
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

**Topic: List**
1. Write a program that print all the element of the list, index 0 and reverse index -1 value.
2. Write a program that change item in the list in specifi place.
3. Write a program that add, append, insert, remove, pop items in list.
4. Write a program that copy and deep.copy function,
5. Write a program that join two list.

In [ ]:
#1. Write a program that print all the element of the list, index 0 and reverse index -1 value.
list = [7 , 19, 23, 'Mission', 'Impossible']

print(list)
print(list[0])
print(list[-1])

[7, 19, 23, 'Mission', 'Impossible']
7
Impossible

In [ ]:
#2. Write a program that change item in the list in specifi place.
list = [7 , 19, 23, 'Mission', 'Impossible']
list[-1] = 'Possible'
print(list)

[7, 19, 23, 'Mission', 'Possible']

In [ ]:
#3. Write a program that add operation using append, insert and use remove, pop function of items in list.
list = [7 , 19, 23, 'Mission', 'Possible']
list.append('71')  #added at the end of the list
print(list)
list.insert(2, 'cherry')  #added on specific index
print(list)
list.remove('Possible') #remove first occurence from list
print(list)
p_item = list.pop(2)
print(p_item)  #popped item in index 2
print(list)

[7, 19, 23, 'Mission', 'Possible', '71']
[7, 19, 'cherry', 23, 'Mission', 'Possible', '71']
[7, 19, 'cherry', 23, 'Mission', '71']
cherry
[7, 19, 23, 'Mission', '71']

In [ ]:
#4. Write a program that copy and deep.copy function.
import copy

original_list = [1, [2, 3], 4]
shallow_copy = copy.copy(original_list)

print('Original List: ',original_list)
print('Shallow Copy: ',shallow_copy)

# Modifying the original list does affect the shallow copy
original_list[1][0] = 'X'
print('Original List: ',original_list)
print('Shallow Copy: ',shallow_copy)


deep_copy = copy.deepcopy(original_list)

print('Original List: ',original_list)
print('Deep Copy: ',deep_copy)

# Modifying the original list does not affect the deep copy
original_list[1][0] = 'X'
print('Original List: ',original_list)
print('Deep Copy: ',deep_copy)

Original List:  [1, [2, 3], 4]
Shallow Copy:  [1, [2, 3], 4]
Original List:  [1, ['X', 3], 4]
Shallow Copy:  [1, ['X', 3], 4]
Original List:  [1, ['X', 3], 4]
Deep Copy:  [1, ['X', 3], 4]
Original List:  [1, ['X', 3], 4]
Deep Copy:  [1, ['X', 3], 4]

In [ ]:
#5. Write a program that join two list.
list1 = [1, 2, 3]
list2 = ['x', 'y', 'z']
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 'x', 'y', 'z']

**Topic: Tuple**
1. Write a program to create and access tuples.
2. Write a program to update and unpack tuples.
3. Write a program that print all the tuples.
4. Write a program that join two tuple
5. Write a program to count and return tuple index.

In [ ]:
#1. Write a program to create and access tuples.
tuple = (1, 2, 3, 'apple', 'banana')

print(tuple)
print(tuple[3])
print(tuple[-3])

(1, 2, 3, 'apple', 'banana')
apple
3

In [ ]:
#2. Write a program to update and unpack tuples.
tuple = (1, 2, 3, 'apple', 'banana')
new_tuple = tuple + ('Mango',) #update tuple
print(new_tuple)

a, b, *c, rest = new_tuple #unpack
print(a, b, c)   #output: 1 2 [3, 'apple', 'banana']
print(rest) #output: Mango

(1, 2, 3, 'apple', 'banana', 'Mango')
1 2 [3, 'apple', 'banana']
Mango

In [ ]:
#3. Write a program that print all the tuples.
tuple = (1, 2, 3, 'apple', 'banana')
for i in tuple:
  print(i)

1
2
3
apple
banana

In [ ]:
#4. Write a program that join two tuple
tuple1 = (1, 2, 3)
tuple2 = ('apple', 'banana')
joined_tuple = tuple1 + tuple2;
print(joined_tuple)

(1, 2, 3, 'apple', 'banana')

In [ ]:
#5. Write a program to count and return tuple index.
tuple = (1, 2, 3, 'apple', 'banana', 3 , 'apple')
count = tuple.count(3)
index = tuple.index(2)
print(count)
print(index)

2
1

**Topic: Dictionary**
1. Write a program to creat and access dictionary.
2. Write a program to change and add items in dictionary.
3. Write a program to remove item with the specific key and return its value.
4. Write a program to interate over dictionary.
5. Write a program that can contain other dictionaries as values.

In [ ]:
#1. Write a program to create and access dictionary.
dict = { 'name' : 'Ikram', 'age' : 24, 'city' : 'Dhaka'}
print(dict)
print(dict['name'])
print(dict['city'])

{'name': 'Ikram', 'age': 24, 'city': 'Dhaka'}
Ikram
Dhaka

In [ ]:
#2. Write a program to change and add items in dictionary.
dict = { 'name' : 'Ikram', 'age' : 24, 'city' : 'Dhaka'}
dict['city'] = 'Narayanganj'
print(dict['city'])
dict['occupation'] = 'Student'
print(dict)

Narayanganj
{'name': 'Ikram', 'age': 24, 'city': 'Narayanganj', 'occupation': 'Student'}

In [ ]:
#3. Write a program to remove item with the specific key and return its value.
dict = { 'name' : 'Ikram', 'age' : 24, 'city' : 'Dhaka', 'occupation': 'Student'}
remove_city = dict.pop('city')
remove_item = dict.popitem()
print(remove_city)
print(remove_item)

Dhaka
('occupation', 'Student')

In [ ]:
#4. Write a program to interate over dictionary.
dict = { 'name' : 'Ikram', 'age' : 24, 'city' : 'Dhaka', 'occupation': 'Student'}
for key in dict:
  print(key)
for value in dict.values():
  print(value)
for key, value in dict.items():
  print(key, value)

name
age
city
occupation
Ikram
24
Dhaka
Student
name Ikram
age 24
city Dhaka
occupation Student

In [ ]:
#5. Write a program that can contain other dictionaries as values.
nested_dict = {'person' : {'name' : 'Ikram', 'age' : 24, 'city' : 'Dhaka', 'occupation': 'Student'}}
print(nested_dict['person']['occupation'])

Student

**Topic: Function**
1. Write a program that passes parameters in function.
2. Write a program that return the squre of that number.
3. Write a program that find factorial.
4. Write a program that passes list as parameter and traverse the list.
5. Write a program that valid usage of keyword and argumental parameter.

In [ ]:
#1. Write a program that passes parameters in function.
def substruct_number(x, y):
  sub = x - y
  print(f'Substruction of {x} - {y} :',sub)
substruct_number(10,7)

Substruction of 10 - 7 : 3

In [ ]:
#2. Write a program that return the squre of that number.
def square(x):
    return x ** 2

result = square(5)
print(f"The square is: {result}")

The square is: 25

In [ ]:
#3. Write a program that find factorial of 5 using recursive function.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
n = 5
fact = factorial(n)
print(f'Factorial of {n}: ', fact)

Factorial of 5:  120

In [ ]:
#4. Write a program that passes list as parameter and traverse the list.
def process_list(list):
    for item in list:
        print(item)
x = [7, 17, 19, 23]
process_list(x)

7
17
19
23

In [ ]:
#5. Write a program that valid usage of keyword and argumental parameter.
def parameter(a, b, /, x, y, *, c, d):
    print(a, b, x, y, c, d)
parameter(1, 2, 3, 4, c=5, d=6)

1 2 3 4 5 6